@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav_height: "60px"
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.changeText {
  animation-name: fadeAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}